.login-container {
  margin: 0 auto;
  margin-top: 5%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
  border-radius: 20px;
  background-color: palegoldenrod;
  gap: 10px;
  padding: 50px;
}

.register-container {
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  border: 2px solid black;
  border-radius: 20px;
  background-color: palegoldenrod;
  gap: 10px;
  padding: 50px;
}

.register-container h3 {
  margin: 40px 0 20px 0;
}

.button-section,
.register-button-section {
  display: flex;
  margin-top: 30px;
}

section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

input {
  margin-bottom: 15px;
  margin-top: 0;
  border-radius: 10px;
  width: 97%;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

button {
  width: fit-content;
  height: 30px;
  padding: 5px;
  margin-bottom: 50px;
  font-size: 16px;
}
