.form-container {
  margin: 0 auto;
  display: block;
  border: 2px solid black;
  border-radius: 20px;
  width: 60%;
  height: 400px;
  margin-top: 15%;
  background-color: palegoldenrod;
  place-items: center;
  font-size: 20px;
  padding: 30px;
}

.form-container textarea {
  width: 500px;
  border-radius: 10px;
  resize: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 16px;
  margin: 5px;
}

.form-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
  grid-column: 1/3;
}

.submit-button {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  background-color: white;
  margin-right: 10px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: maroon;
  color: white;
}

.rating-input {
  display: inline;
  width: 70px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.rating-input input {
  margin-top: 20px;
  width: 200px;
  margin-left: 20px;
}

section {
  margin-bottom: 50px;
}

label {
  font-size: 20px;
  font-weight: 600;
}
