.teapot-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 30px;
  gap: 50px;
}

.teapot-card {
  display: grid;
  grid-template-columns: 1 fr;
  border: 2px solid palegoldenrod;
  border-radius: 20px;
  gap: 10px;
  padding: 10px;
  place-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.teapot-card:hover {
  transform: scale(1.05);
  border: 2px solid maroon;
}

.show-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  place-items: left;
  width: 85%;
  margin-top: 30px;
}

.info-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  height: 325px;
  background-color: palegoldenrod;
  min-width: 426px;
}

.image-section img {
  border: 2px solid black;
  border-radius: 20px;
  width: 400px;
  height: 325px;
}

.reviews-container {
  margin: 0 auto;
  display: block;
  width: 85%;
}

.reviews-container h2 {
  margin-top: 20px;
}

.review-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: lightsalmon;
}

.review-card button {
  margin-right: 15px;
}

.center-grid {
  text-align: center;
}

h2 {
  grid-row: 1;
  grid-column: 1/4;
}

.search-input {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  place-items: center;
}

.input-box {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
}

a:hover {
  color: maroon;
}

span {
  font-weight: 600;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  place-items: center;
  margin-top: 15px;
}


@media (max-width: 780px) {
  .teapot-container {
    grid-template-columns: 1fr 1fr;
  }
  .teapot-container h2 {
    grid-column: 1/3;
    grid-row: 1;
  }
  .show-container {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media (max-width: 500px) {
  .teapot-container {
    grid-template-columns: 1fr;
  }
  .teapot-container h2 {
    grid-column: 1/2;
    grid-row: 1;
  }
}
