@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates";
}

.background {
  background-color: goldenrod;
}

button {
  padding: 3px;
  background: white;
  border-radius: 7px;
}


button:hover {
  background-color: maroon;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: maroon;
}
